@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.995 0.001 106.423;
    --foreground: 0.147 0.004 49.25;
    --card: 0.995 0.001 106.423;
    --card-foreground: 0.147 0.004 49.25;
    --popover: 0.985 0.001 106.423;
    --popover-foreground: 0.147 0.004 49.25;
    --primary: 0.216 0.006 56.043;
    --primary-foreground: 0.985 0.001 106.423;
    --secondary: 0.96 0.004 106.042;
    --secondary-foreground: 0.216 0.006 56.043;
    --muted: 0.96 0.004 106.042;
    --muted-foreground: 0.553 0.013 58.071;
    --accent: 0.96 0.004 106.042;
    --accent-foreground: 0.216 0.006 56.043;
    --destructive: 0.577 0.245 27.325;
    --border: 0.923 0.003 48.717;
    --input: 0.923 0.003 48.717;
    --ring: 0.553 0.013 58.071;
    --chart-1: 0.646 0.021 55.629;
    --chart-2: 0.553 0.013 58.071;
    --chart-3: 0.442 0.01 73.639;
    --chart-4: 0.356 0.01 67.558;
    --chart-5: 0.268 0.007 34.298;
    --radius: 0.375rem;
    --radius-sm: calc(var(--radius) - 2px);
    --radius-md: var(--radius);
    --radius-lg: calc(var(--radius) + 2px);
    --radius-xl: calc(var(--radius) + 6px);
    --sidebar: 0.995 0.001 106.423;
    --sidebar-foreground: 0.147 0.004 49.25;
    --sidebar-primary: 0.216 0.006 56.043;
    --sidebar-primary-foreground: 0.985 0.001 106.423;
    --sidebar-accent: 0.96 0.004 106.042;
    --sidebar-accent-foreground: 0.216 0.006 56.043;
    --sidebar-border: 0.923 0.003 48.717;
    --sidebar-ring: 0.553 0.013 58.071;
    --want: 0.623 0.214 259.815;
    --want-foreground: 0.488 0.243 264.376;
    --must: 0.769 0.188 70.08;
    --must-foreground: 0.555 0.163 48.998;
    --warning: 0.666 0.179 58.318;
  }
  .dark {
    --background: 0.147 0.004 49.25;
    --foreground: 0.985 0.001 106.423;
    --card: 0.216 0.006 56.043;
    --card-foreground: 0.985 0.001 106.423;
    --popover: 0.216 0.006 56.043;
    --popover-foreground: 0.985 0.001 106.423;
    --primary: 0.985 0.001 106.423;
    --primary-foreground: 0.216 0.006 56.043;
    --secondary: 0.268 0.007 34.298;
    --secondary-foreground: 0.985 0.001 106.423;
    --muted: 0.268 0.007 34.298;
    --muted-foreground: 0.709 0.01 56.259;
    --accent: 0.268 0.007 34.298;
    --accent-foreground: 0.985 0.001 106.423;
    --destructive: 0.704 0.191 22.216;
    --border: 0.274 0.006 56.043;
    --input: 0.274 0.006 56.043;
    --ring: 0.553 0.013 58.071;
    --chart-1: 0.646 0.021 55.629;
    --chart-2: 0.553 0.013 58.071;
    --chart-3: 0.442 0.01 73.639;
    --chart-4: 0.356 0.01 67.558;
    --chart-5: 0.268 0.007 34.298;
    --sidebar: 0.216 0.006 56.043;
    --sidebar-foreground: 0.985 0.001 106.423;
    --sidebar-primary: 0.985 0.001 106.423;
    --sidebar-primary-foreground: 0.216 0.006 56.043;
    --sidebar-accent: 0.268 0.007 34.298;
    --sidebar-accent-foreground: 0.985 0.001 106.423;
    --sidebar-border: 0.274 0.006 56.043;
    --sidebar-ring: 0.553 0.013 58.071;
    --want: 0.707 0.165 254.624;
    --want-foreground: 0.707 0.165 254.624;
    --must: 0.769 0.188 70.08;
    --must-foreground: 0.769 0.188 70.08;
    --warning: 0.769 0.188 70.08;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
